*.vsidx
ProyectoFinal/Debug/vc143.idb
ProyectoFinal/Debug/vc143.pdb

# Visual Studio
.vs/
Debug/
Release/
*.exe
*.pdb
*.log

# Excepciones: Permitir absolutamente todo dentro de External Libraries
!External Libraries/
!External Libraries/**/*